@use '/styles/abstracts/palette';

.header-root {
  $self: #{&};
  height: 90px;
  background-color: palette.$Gray600;
  display: flex;
  align-items: center;
  color: #ffffff;

  &--admin {
    margin-left: 250px;
    background-color: palette.$Gray50;
  }

  &__logo {
    padding: 0 100px;
    font-size: 50px;
  }
  &__nav {
    display: flex;
    gap: 100px;
    &--admin {
      padding-left: 100px;
      color: palette.$Gray900;
    }
  }
}
