@use '/styles/abstracts/palette';

.table-root {
  $self: #{&};
  width: 100%;

  border-top: solid 1px palette.$Gray900;
  thead {
    height: 54px;
    border-bottom: solid 1px palette.$Gray300;
    color: palette.$Gray900;
    font-weight: 700;
    text-align: center;
    th {
      vertical-align: middle;
    }
  }

  tbody {
    text-align: center;

    tr.--separator {
      border-bottom: solid 1px palette.$Gray200;
    }

    tr.--highlight {
      border: solid 2px palette.$Orange500;
    }

    td {
      vertical-align: middle;
      word-break: break-all;
    }
  }
}
