@use '/styles/abstracts/palette';

.table-root {
  $self: #{&};
  width: 100%;

  &__title {
    border-left: 3px solid palette.$Gray300;
    padding-left: 15px;
    margin-bottom: 25px;
  }

  & > table {
    width: 100%;
    border-top: solid 1px palette.$Gray900;
    thead {
      height: 54px;
      border-bottom: solid 1px palette.$Gray300;
      color: palette.$Gray900;
      background-color: palette.$Gray100;
      font-weight: 700;
      text-align: center;
      th {
        vertical-align: middle;
      }
    }

    tbody {
      text-align: center;

      tr:hover {
        background-color: palette.$Gray100;
      }

      tr.--separator {
        border-bottom: solid 1px palette.$Gray200;
      }

      tr.--highlight {
        border: solid 2px palette.$Orange500;
      }

      td {
        vertical-align: middle;
        word-break: break-all;
      }
    }
  }
}
